<!DOCTYPE html>
<html>
<head>
  <title>Cork</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header" style="width:100%">
      <%= link_to 'Cork', root_path, class: 'navbar-brand' %>

      <div style="width:300px; margin:0 auto;">
        <%= form_tag('/tags', :method => :get, class: 'navbar-form navbar-left') do %>
          <div class="form-group" align="center">
            <input id="tag_name" name="tag[name]" type="text" class="form-control" placeholder="Search">
          </div>
        <% end %>
      </div>

      <div class="navbar-btn navbar-right" style="text-align:right">
        <a href="<%= picture_new_path() %>" class="btn btn-default">+ Pic</a>
      </div>

    </div>
  </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
