<!DOCTYPE html>
<html>
<head>
  <title>Cork</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header" style="width:100%">
      <%= link_to 'Cork', root_path, class: 'navbar-brand' %>

      <div style="width:300px; margin:0 auto;">
        <%= form_tag('/tags', :method => :get, id: 'tag_search', class: 'navbar-form navbar-left') do %>
          <div id="prefetch" class="form-group" align="center">
            <input id="tag_name" name="tag[name]" type="text" class="form-control typeahead" placeholder="Search">
          </div>
        <% end %>
      </div>

      <div class="navbar-btn navbar-right" style="text-align:right">
        <a href="<%= picture_new_path() %>" class="btn btn-default">+ Pic</a>
      </div>

    </div>
  </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
<script>
var tags = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: '/tags.json'
});

// passing in `null` for the `options` arguments will result in the default
// options being used
$('#prefetch .typeahead').typeahead(null, {
  name: 'tags',
  source: tags
}).on("typeahead:selected typeahead:autocomplete", function(e, datum) {
  return $('#tag_search').submit();
});
</script>
</html>
